<p></p>
<div class="bs-docs-section">
        <div class="row">
          <div class="col-lg-6">
            <div class="well">
              	<div class="row">
					 <legend><strong>Upload file to <%=data.name%> - <%=data.model%> </strong></legend>
				</div>
				<div class="row" > 
				 <% var form = formFor('upload_test', {action: 'upload_file', method: 'POST', id: "upload-form", class: 'bs-example form-horizontal', enctype: 'multipart/form-data'}) %>  
				
				 <%- form.begin() %>  
				   <div class="form-group">
                    <label for="inputEmail" class="col-lg-2 control-label">File Name</label>
                    <div class="col-lg-10">
                       <%- form.input('file_name') %>
                    </div>
					</div>
					<div class="form-group">
					  <label for="inputPassword" class="col-lg-2 control-label">File</label>
					  <div class="col-lg-10">
					    <%- form.file('file') %>
					  </div>
					</div>
					<input type="hidden" name="id" value="<%= data.id %>" />
					<input type="hidden" name="carId" value="<%= data.carId %>" />
					<div class="form-group">
		          		<div class="col-lg-10 col-lg-offset-2">
		             	<%- form.submit('<i class="icon-ok icon-white"></i> Save & upload file', {class: 'btn btn-primary'}) %>
		             	</div>
					</div>
				 <%- form.end() %>
				 </div>
            </div>
          </div>
        </div>
</div>

