<%- errorMessagesFor(carpic) %>
<div class="control-group">
   <%- form.label("carId", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("carId") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("name", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("name") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("url", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("url") %>
   </div>
</div>
