<ul class="breadcrumb">
    <li><a href="/">Home</a> <span class="divider">/</span></li>
    <li><a href="<%- pathTo.carpics() %>">carpics</a> <span class="divider">/</span></li>
    <li class="active"><a href="#">Edit carpic</a></li>
</ul>

<div class="page-header">
    <h1>Edit carpic</h1>
</div>

<% var form = formFor(carpic, {action: pathTo.carpic(carpic), method: 'PUT', id: "carpic-form", class: 'form-horizontal'}) %>
<%- form.begin() %>
<%- include _form %>
<div class="form-actions">
    <%- form.submit('<i class="icon-ok icon-white"></i> Update carpic', {class: 'btn btn-primary'}) %> or
    <%- linkTo('Cancel', pathTo.carpic(carpic), {class: 'btn'}) %>
</div>
<%- form.end() %>
