<div class="page-header">
    <h1>Images of <%= car.name + " - "+ car.model %></h1>
</div>

<div class="row">
    <div class="span12">
        <p><%- link_to('<i class="icon-plus icon-white"></i> Upload New Image', '/upload/upload_pic?id=' + car.id , {class: 'btn btn-primary'}) %></>
    </div>
</div>

<div class="row">
    <div class="span12">
        <% if (carpics.length > 0) { %>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Image</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% carpics.forEach(function (carpic) { %>
                <tr>
                    <td><strong><%- carpic.id + " - " + carpic.name %></strong></td>
                    <td><img src="<%= carpic.url %>" style="min-height:50px;height:50px;" alt="" class="img-thumbnail"></td>
                    <td>
                        <%- link_to('<i class="icon-remove icon-white"></i> Delete', pathTo.carpic(carpic), {class: 'btn btn-mini btn-danger', method: 'delete' }) %>
                    </td>
                </tr>
                <% }); %>
            </tbody>
        </table>
        <% } else { %>
        <p class="alert alert-block alert-info">
            <strong>No carpics were found.</strong>
        </p>
        <% } %>
    </div>
</div>
