<!-- Banner -->
<div class="page-header" id="banner">
  <div class="row">
  	 <div class="bs-example">
        <div class="jumbotron">
          <h1>AutoMarket</h1>
          <p>We are trading Japan cars with your Satisfaction is Our Duty</p>
          <p><a class="btn btn-primary btn-lg">Learn more</a></p>
        </div>
      </div>
  </div>
</div> <!-- BANNER -->
    
<!-- LIST CAR -->
<div class="row">
  <% var BreakException= {}; %>
	<% var limit = 20; %>
  <% try{ obj.forEach(function(car) { %>
  <div class="col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading"><%= car.car.name + "-" + car.car.model%> </div>
      <div class="panel-body">
          <% if( car.pics ) { %>
					<div id="<%=car.car.id%>" class="carousel slide" style="width: 80%; margin: 0 auto">
					  <!-- Indicators -->
					  <ol class="carousel-indicators">
					    <% var count = 0 %>
					    <% car.pics.forEach( function( pic ){  %>
					    <li data-target="#<%=car.car.id%>" 
					    		class="<% if(count==0) { %><%='active'%> <%}%>"  
					    		data-slide-to="<%=count++%>"></li>
					    <% }); %>
					  </ol>
					
					  <!-- Wrapper for slides -->
					  <div class="carousel-inner">
					    <% var count1 = 0; %>
							<% car.pics.forEach( function( pic ){  %>
							<div class="item <% if(count1==0) { %> <%='active'%> <%}%> ">
					      <img src="<%= pic.url %>" alt="" class="img-thumbnail">
					      <div class="carousel-caption">
					        <%= pic.name %>
					      </div>
					    </div>
					    <% count1++; %>
							<% }); %>
					  </div>
					
					  <!-- Controls -->
					  <a class="left carousel-control" href="#<%=car.car.id%>" data-slide="prev">
					    <span class="icon-prev"></span>
					  </a>
					  <a class="right carousel-control" href="#<%=car.car.id%>" data-slide="next">
					    <span class="icon-next"></span>
					  </a>
				  </div>
					
					<%} //check exists car pic%>

      </div>
    </div>
    </div>
    <% limit--; %>
    <% if( limit === 0) throw BreakException; %>
    <% }); %>
    <% } catch(e){ if (e!==BreakException) throw e; }%>
    
  
</div>
	  
	