<ul class="breadcrumb">
    <li><a href="/">Home</a> <span class="divider">/</span></li>
    <li><a href="<%- pathTo.items() %>">items</a> <span class="divider">/</span></li>
    <li class="active"><a href="#">Edit item</a></li>
</ul>

<div class="page-header">
    <h1>Edit item</h1>
</div>

<% var form = formFor(item, {action: pathTo.item(item), method: 'PUT', id: "item-form", class: 'form-horizontal'}) %>
<%- form.begin() %>
<%- include _form %>
<div class="form-actions">
    <%- form.submit('<i class="icon-ok icon-white"></i> Update item', {class: 'btn btn-primary'}) %> or
    <%- linkTo('Cancel', pathTo.item(item), {class: 'btn'}) %>
</div>
<%- form.end() %>
