<%- errorMessagesFor(car) %>
<div class="control-group">
   <%- form.label("name", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("name") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("description", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("description") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("maker", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("maker") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("model", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("model") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("price", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("price") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("proDate", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("proDate") %>
   </div>
</div>
<div class="control-group">

   <%- form.label("leftRight", false, {class: "control-label"}) %>

   <div class="controls">

       <%- form.checkbox("leftRight") %>

   </div>

</div>
