<%- errorMessagesFor(car) %>
<div class="control-group">
   <%- form.label("name", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("name") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("description", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.textarea("description",{ class: "textarea" , cols : 100, rows : 10 , placeholder : "Please enter Car description ..." }) %>
   </div>
</div>
<div class="control-group">
   <%- form.label("maker", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("maker") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("model", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("model") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("price", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("price") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("proDate", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("proDate") %>
   </div>
</div>
<div class="control-group">

   <%- form.label("Available", false, {class: "control-label"}) %>

   <div class="controls">

       <%- form.checkbox("available") %>

   </div>
</div>

<script type="text/javascript">
	//$('#description').wysihtml5();
	$('.textarea').wysihtml5();
</script>