<ul class="breadcrumb">
    <li><a href="/">Home</a> <span class="divider">/</span></li>
    <li><a href="<%- pathTo.cars() %>">cars</a> <span class="divider">/</span></li>
    <li class="active"><a href="#">Edit car</a></li>
</ul>

<div class="page-header">
    <h1>Edit car</h1>
</div>

<% var form = formFor(car, {action: pathTo.car(car), method: 'PUT', id: "car-form", class: 'form-horizontal'}) %>
<%- form.begin() %>
<%- include _form %>
<div class="form-actions">
    <%- form.submit('<i class="icon-ok icon-white"></i> Update car', {class: 'btn btn-primary'}) %> or
    <%- linkTo('Cancel', pathTo.car(car), {class: 'btn'}) %>
</div>
<%- form.end() %>
